@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400;
}
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100;
}
@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200;
}

html>body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
  font-size: 14px;													
  font-weight: 400;
  background-color: #FAFAFA;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
/* IE10以上 */
@media all and (-ms-high-contrast: none) {
  body {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
/* ***** Common  **************************************************************/
.mdl-button {
  text-transform: none;
  color: #757575;
  font-family: inherit;
}
.valign-middle {
  vertical-align: middle;
}
/* ***** Menu *****************************************************************/
.mdl-layout__header {
  color: #4FB3FF;
}
.portfolio-header {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-color: #FAFAFA;
  background-image: url(./header.jpg);
}
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.is-compact .mdl-layout__title span {
  display: none;
}
.portfolio-logo-row {
  min-height: 250px;
}
.is-compact .portfolio-logo-row {
  min-height: auto;
}
.portfolio-logo {
  background: url(./jtdc.png) 30% no-repeat;
  background-size: cover;
  height: 61.2px;
  width: 195.6px;
  margin: auto auto 10px;
}
.is-compact .portfolio-logo {
  height: 51px;
  width: 163px;
  margin-top: 7px;
}
.portfolio-navigation-row {
  background-color: rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
  height: 45px;
}
.portfolio-navigation-row  .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}
.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 42px;
}
.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}
.portfolio-navigation-row .is-active {
  position: relative;
}
.portfolio-navigation-row .is-active:after {
  content: "";
  width: 70%;
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgb(255,64,129);
  left: 15%;
}
/* ***** Panel Common *********************************************************/
.panel {
  box-sizing: border-box;
  width: 100%;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}
.panel-news, .panel-ba_photo, .panel-ba, .panel-info, .panel-contactus {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 40px;
  width: auto;
  background-repeat: no-repeat;
  background-position: center center;
}
/* ***** Panel Title **********************************************************/
.subtitle {
  font-family: Roboto, Helvetica, Arial, sans-serif; 
  font-size: 30px;
  font-weight: 300;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 0px;
  line-height: 30px;
}
.subtitle > .bold {
  font-weight: 700;
}
/* ***** news release *********************************************************/
.panel-news dt {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 12px 0 0 0;
  display: inline-table;
  line-height: 2em;
  clear : both;
}
.panel-news dd {
  text-align: left;
  line-height: 2em;
  margin: 0 0 0 40px;
}
/* ***** business activities photo ********************************************/
.panel-ba_photo {
  background-color: rgba(0, 0, 0, 0.08);
  background-image: url(ba.jpg);
  background-size: cover;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
@media (max-width: 839px) and (min-width: 480px) {
  .panel-ba_photo {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* ***** business activities **************************************************/
.panel-ba {
  /* background-color: rgba(0, 0, 0, 0.08); */
  background-size: 252px auto;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.business-activities-list {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
}
.mdl-list__item {
  font-family: inherit;
  color: #757575 !important;
}
.activities-list, .activities-list.material-icons{
  float: left;
  margin-right: 16px;
  height: 40px;
  width: 40px;
  box-sizing: border-box;
  font-size: 40px;
}
/* ***** corporate information ************************************************/
.panel-info {
  background-color: #B3E0E1;
  background-size: 287px auto
}
.panel-info dl dt {
  font-weight: bold;
  text-align: right;
  vertical-align: top;
  display: inline-table;
  float:left;
  margin-right: 24px;
  line-height: 2em;
  clear : both;
}
.panel-info dl dd {
  text-align: left;
  line-height: 2em;
  margin: 0 0 0 100px;
}
/* ***** contact us ***********************************************************/
.mdl-textfield__input {
  font-family: inherit;
}
.contactus-contents {
  width: 100%;
}
#contactus-message {
  color: #ff4081;
}
/* ***** footer   *************************************************************/
.privacy-policy {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.docs-footer.mdl-mini-footer {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  height: 120px
}
.docs-footer.mdl-mini-footer, .docs-footer.mdl-mini-footer ul {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
}
.docs-footer.mdl-mini-footer ul {
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.docs-footer.mdl-mini-footer ul>li>a {
  margin: 0 8px;
  font-weight: 400;
  font-size: 12px
}
.docs-footer .docs-link-list li {
  margin-left: .5em;
  margin-right: .5em
}
.docs-footer.mdl-mini-footer .mdl-mini-footer--social-btn {
  background-color: transparent;
  margin: 0 16px;
  width: 24px;
  height: 24px
}
.docs-footer.mdl-mini-footer .social-btn {
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: pointer
}
/* ***** Social Button  *******************************************************/
.social-btn__twitter {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_white_24dp.png')
}
.social-btn__github {
  background-image: url('github_white_24.svg');
  width: 22px;
  height: 22px
}
.social-btn__gplus {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_gplus_white_24dp.png')
}
/* ***** Modal Dialog *********************************************************/
h4 {
  margin: 18px 0 0;
}
.dialog-container,
.loading-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.dialog-container > div {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-height: 25px;
  margin: 10% auto;
  z-index: 99999;
  padding: 16px 16px 0;
}
.dialog-button-bar {
  text-align: right;
  margin-top: 8px;
}
.loading-container > div {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 10% auto;
  z-index: 99999;
}
.loading-container > div > div {
  width: 100%;
  height: 100%;
}
.dialog-title {
  font-size: 20px;
  font-weight: 600;
}
.dialog-container h3 {
  font-family: inherit;
}
.dialog-container h4 {
  font-family: inherit;
  font-size: 16px;
}
.dialog-container ul {
  padding: 0px;
  margin-top: 0px;
}
.dialog-container ul li {
  font-size: 12px;
  font-weight: normal;
  color: rgba(0,0,0,.54);
  padding-top: 2px;
  padding-bottom: 4px;
  min-height: 20px;
  display: block;
}
.mdl-card {
  font-size:12px;
}

@media (max-width: 839px) {
  .subtitle {
    width: 100%;
  }
  .panel-news dl {
    width: 100%;
  }
  .panel-info dl {
    width: 100%;
  }
  #contactus-form {
    width: 100%;
  }
}


/* ***** Page Top   ***********************************************************/
/*
.pagetop {
    right: 20%;
    bottom: 26px;
    background: #64ffda !important;
    color: black !important;
}
*/
